{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agendamentos</title>

    <link rel="stylesheet" href="{% static 'css/agendamentos.css' %}">
    <script src="{% static 'js/agendamentos.js' %}" defer></script>
</head>

<body>

    <header>
        <div class="whatsapp">
            <span>Orçamentos via WhatsApp</span>
            <strong>(83) 8328-7637</strong>
        </div>

        <div class="usuario">
            <span>Olá, wiwi</span>
            <a href="{% url 'meus_agendamentos' %}">Meus agendamentos</a>
            
        </div>
    </header>


    <main>

        <h1>
            <span>Lanny</span> Cabeleleira
        </h1>


        <div class="conteudo">

            <!-- SERVIÇOS -->
            <section class="servicos">
                {% for servico in servicos %}
                <button type="button" class="servico" data-id="{{servico.id}}">
                    <h2>SERVIÇOS</h2>
                    <div>
                    <strong>{{servico.nome}}</strong>
                    <small>{{servico.duracao}} min</small>
                   </div>
               
                </button>
                {% endfor %}
    

                <!-- OBSERVAÇÃO -->

                <h2>OBSERVAÇÃO</h2>

                <textarea placeholder="Alguma informação adicional..."></textarea>

            </section>


            <!-- HORÁRIOS -->

            <section class="horarios">

                <h2>HORÁRIOS DISPONÍVEIS</h2>

                <p>Selecione uma data no calendário →</p>

                <div class="horarios-grid">

                    <button>08:00</button>
                    <button class="indisponivel">09:00</button>
                    <button>10:00</button>

                    <button>11:00</button>
                    <button class="indisponivel">13:00</button>
                    <button>14:00</button>

                    <button>15:00</button>
                    <button class="indisponivel">16:00</button>
                    <button>17:00</button>

                </div>


                <div class="legenda">
                    <span class="selecionado-legenda">● Selecionado</span>
                    <span class="disponivel-legenda">● Disponível</span>
                    <span class="ocupado-legenda">● Ocupado</span>
                </div>


                <button class="confirmar">
                    SELECIONE SERVIÇO, DATA E HORÁRIO
                </button>

            </section>


            <!-- CALENDÁRIO -->

            <section class="calendario">

                <h2>SELECIONE A DATA</h2>

                <div class="calendario-caixa">

                    <div class="mes">
                        <button>‹</button>

                        <strong>Setembro 2026</strong>

                        <button>›</button>
                    </div>


                    <div class="dias-semana">
                        <span>Dom</span>
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sáb</span>
                    </div>


                <div class="dias">
                    <button type="button">1</button>
                    <button type="button">2</button>
                    <button type="button">3</button>
                    <button type="button">4</button>
                    <button type="button">5</button>
                    <button type="button">6</button>
                    <button type="button">7</button>
                    <button type="button">8</button>
                    <button type="button">9</button>
                    <button type="button">10</button>
                    <button type="button">11</button>
                    <button type="button">12</button>
                    <button type="button">13</button>
                    <button type="button">14</button>
                    <button type="button">15</button>
                    <button type="button">16</button>
                    <button type="button">17</button>
                    <button type="button">18</button>
                    <button type="button">19</button>
                    <button type="button">20</button>
                    <button type="button">21</button>
                    <button type="button">22</button>
                    <button type="button">23</button>
                    <button type="button">24</button>
                    <button type="button">25</button>
                    <button type="button">26</button>
                    <button type="button">27</button>
                    <button type="button">28</button>
                    <button type="button">29</button>
                    <button type="button">30</button>
                </div>

                   

                </div>

            </section>

        </div>

    </main>

</body>
</html>